/* CommentForm.css */

.form {
    margin-left: 30%;
    margin: 20px;
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form label {
    font-weight: bold;
    color: #333;
}

.form input,
.form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.form input:focus,
.form textarea:focus {
    outline: none;
    border-color: #007bff;
}

.form textarea {
    resize: vertical;
}

.form button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button:hover {
    background-color: #0056b3;
}

/* Animation */
@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.form {
    animation: slideInFromTop 0.5s ease;
}
